/* Default Hideout css */

:root {
        --color-background: #09060a!important;
        --color-container: #130d1423!important;
        --color-button: #22172423!important;
        --color-button-hover: #48314b23!important;
        --color-desc: #cacaca9c!important;
        --color-text: #e1ddebd3!important;
        --color-title: #F8F9FB!important;
}
#fog {
    position: fixed;
    width: 100svw;
    height: 100svh;
    opacity: .5;
    left: 0;
    top: 0;
    object-fit: contain;
}
#light {
      position:fixed;
      inset:0;
      width:100%;
      height:100%;
      opacity: .5;
      display:block;
      filter: blur(45px);
    
}
.div-responsive-page {
    position: fixed;
    --number-padding-body: 32px;
    --number-blur-page: 32px;
    width: calc(100svw - var(--number-padding-body));
    height: calc(100svh - var(--number-padding-body));
    padding: calc(var(--number-padding-body) / 2);
    overflow: hidden;
    overflow-y: scroll;

}
.div-banner-welcome {
    padding: 30px 15px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: calc(100% - 30px);
    background-color: var(--color-container);
    color: var(--color-text);
    backdrop-filter: blur(var(--number-blur-page));

}
.div-banner-welcome p {
    max-width: 562px;
}
.div-warning {
    padding: 8px;
    margin-bottom: 8px;
    position: relative;
    color: var(--color-orange-0);
    border-left: 5px solid var(--color-orange-300);
}
.div-warning::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: .5;
    background-color: var(--color-orange-450);
}

.features-container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    width: calc(100% - 32px * 2);
    min-height: calc(100svh);
    padding: 32px;
}
.features-container .features-list {
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    position: relative;
    background: var(--color-container);
    border-radius: 18px;
    padding: 8px;
}
.features-container .features-list h3 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 8px;
}
.features-container .features-list .div-btns-list {
    border-radius: 10px;
    height: 100%;
    
    overflow: hidden;
    overflow-y: auto;
}
.features-container .features-list button {
    width: 100%;
    cursor: pointer;
    font-size: 18px;
     border-radius: 18px;
    border-radius: 0px;
}
.features-container .div-feature {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    padding: 8px;
    flex: 1 0 0;
    background: var(--color-container);
}
.features-container .div-feature .div-flex-title-features {
    flex-direction: column;
    display: flex;
    gap: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-desc);
    margin-bottom: 8px;
}
.features-container .div-feature hr {
    border: none;
    margin-bottom: 8px;
    margin-top: 8px;
    border-bottom: 1px solid var(--color-desc)
}
.features-container .div-feature .div-flex-title-features h3 {
    color: var(--color-title);
}
.features-container .div-feature .div-flex-title-features h3,
.features-container .div-feature .div-flex-title-features p {
    max-width: 950px;
}
.div-all-cards-flex-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
}
  .div-all-cards-flex-container img {
        width: 250px;
        height: 250px;
        object-fit: contain;
}
.code-balise {
    padding: 2px;
    background: var(--color-purple-900);
    border-radius: 2px;
    color: var(--color-purple-250);
}
.code-balise:hover {
     background: var(--color-purple-850);
    color: var(--color-purple-200);
}