@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Sora';    
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* GoldBlade Engine */
/* 
    src: url('######/core/GBlade/;
*/

/* GoldBlade (GBlade) : GB V1.0
Projects :
- Poeme-up
- ZDisplay

*/

/* GBlade 2: G² V2.0
Projects :
- Overtag
- ZDisplay 2

*/

/* GBlade 3: G³ GB V3.1.0a
Projects :
- MrQuest (MsQuest)
- ZelflorLP
- OverTag
- VorGuard
- YttriumLP
- ZDisplay 3
- AuthonITL

*/

/* GBlade 4 WIP: G⁴ V4.0.0
Projects :
- Deltale
- ZDisplay OG ReBTH port
- shardfall

*/

/* GBlade 4:  ▲⁴ V4
Projects :
- Authon
- UnderScapeLP
- Firefly

*/
