:root {
        --color-orange: #FF8B34;
        --color-orange-0: #ffffff;
        --color-orange-50: #fff1e5;
        --color-orange-100: #ffe2cc;
        --color-orange-150: #ffd4b3;
        --color-orange-200: #ffc599;
        --color-orange-250: #ffb780;
        --color-orange-300: #ffa866;
        --color-orange-350: #ff9a4d;
        --color-orange-400: #ff8b33;
        --color-orange-450: #ff7d1a;
        --color-orange-500: #ff6f00;
        --color-orange-550: #e66300;
        --color-orange-600: #cc5800;
        --color-orange-650: #b34d00;
        --color-orange-700: #994200;
        --color-orange-750: #803700;
        --color-orange-800: #662c00;
        --color-orange-850: #4d2100;
        --color-orange-900: #331600;
        --color-orange-950: #190b00;
        --color-orange-1000: #000000;

        --color-red: #D53833;
        --color-red-0: #ffffff;
        --color-red-50: #fbeaea;
        --color-red-100: #f6d6d5;
        --color-red-150: #f2c1c0;
        --color-red-200: #eeadaa;
        --color-red-250: #e99895;
        --color-red-300: #e58380;
        --color-red-350: #e16f6b;
        --color-red-400: #dc5a56;
        --color-red-450: #d84641;
        --color-red-500: #d4312b;
        --color-red-550: #be2c27;
        --color-red-600: #a92723;
        --color-red-650: #94221e;
        --color-red-700: #7f1d1a;
        --color-red-750: #6a1916;
        --color-red-800: #551411;
        --color-red-850: #3f0f0d;
        --color-red-900: #2a0a09;
        --color-red-950: #150504;
        --color-red-1000: #000000;

        --color-purple: #B69EE8;
        --color-purple-0: #ffffff;
        --color-purple-50: #efeafa;
        --color-purple-100: #e0d6f5;
        --color-purple-150: #d0c1f0;
        --color-purple-200: #c0adeb;
        --color-purple-250: #b198e7;
        --color-purple-300: #a183e2;
        --color-purple-350: #926fdd;
        --color-purple-400: #825ad8;
        --color-purple-450: #7245d3;
        --color-purple-500: #6331ce;
        --color-purple-550: #592cba;
        --color-purple-600: #4f27a5;
        --color-purple-650: #452290;
        --color-purple-700: #3b1d7c;
        --color-purple-750: #311867;
        --color-purple-800: #271452;
        --color-purple-850: #1e0f3e;
        --color-purple-900: #140a29;
        --color-purple-950: #0a0515;
        --color-purple-1000: #000000;

        --color-green : #8BC394;
        --color-green-0: #ffffff;
        --color-green-50: #eef6f0;
        --color-green-100: #ddeee0;
        --color-green-150: #cde5d1;
        --color-green-200: #bcdcc1;
        --color-green-250: #abd4b2;
        --color-green-300: #9acba2;
        --color-green-350: #89c293;
        --color-green-400: #79b983;
        --color-green-450: #68b174;
        --color-green-500: #57a864;
        --color-green-550: #4e975a;
        --color-green-600: #468650;
        --color-green-650: #3d7646;
        --color-green-700: #34653c;
        --color-green-750: #2b5432;
        --color-green-800: #234328;
        --color-green-850: #1a321e;
        --color-green-900: #112214;
        --color-green-950: #09110a;
        --color-green-1000: #000000;
}