body {
    background: var(--color-purple-950);
    color: var(--color-purple-50);
}

*::selection {
    background-color: var(--color-green-900);
    color: var(--color-red-50);
    /* Lagacy GoldBlade */
    text-shadow: 1px 1px 2px #000000aa;
}
img::selection {
    background-color: var(--color-green-500);
}