body {
    background: var(--color-background);
    color: var(--color-text);
    --number-padding-default: 8px;
}

*::selection {
    background-color: var(--color-green-900);
    color: var(--color-red-50);
    /* Legacy GoldBlade */
    text-shadow: 1px 1px 2px #000000aa;
}
img::selection {
    background-color: var(--color-green-500);
}

button {
    padding: var(--number-padding-default);
    background: var(--color-button);
    color: var(--color-text);
    font-size: 14px;
}
button:hover {
    background: var(--color-button-hover);
}